<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Firebase Realtime Database</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD_Esg7BYisTGhA4Ws7Mu9ker8xvb5HQA0",
        authDomain: "mboard-2bd47.firebaseapp.com",
        databaseURL: "https://mboard-2bd47.firebaseio.com",
        storageBucket: "mboard-2bd47.appspot.com",
        messagingSenderId: "359919894758"
    };
    firebase.initializeApp(config);
    // 建立 DB
    var database = firebase.database();  
        
    //將訊息存入database
    function push(msg, name) {
        var key = firebase.database().ref('message/').push({
            msg: msg,
            name: name,
        }).key;
    }          

    //刪除資料
    function removeUser(msgid) {
        firebase.database().ref().child('/message/' + msgid).remove();  
    } 

    //讀取資料
    function display_msg(key, name, msg){
        $('<li/>').append("Name: "+name+"</br> Message: "+msg+" </br><button id='delete' class='delete' value='"+key+"'>delete</button><hr>").appendTo($('#messagesli'));
    }

    firebase.database().ref('/message/').on('value', function(snapshot) {
        var message = snapshot.val();

        $.each(snapshot.val(),function(k,v){
            //console.log(k);
 
            display_msg(k,v.name, v.msg);
        });
    });

    $(document).ready(function(){ 
        //偵測send鈕
        $("#push_test").click(function(){
            $('#messagesli').empty();
            var name = $('#push_name').val();
            var msg = $('#push_msg').val();
            push(msg, name);
        });


        //偵測delete鈕
        $(document).on("click",".delete",function(){
            $('#messagesli').empty();
            var msgid = $(this).val();
            $(this).parent().remove();
            //console.log(msgid);


            removeUser(msgid);
        });
    }); 
        
    </script>
    <style type="text/css">
        body {
            text-align: center;
            font-family: 'Nunito', sans-serif;
            color: #384047;
        }
        header{
            text-align: center;
        }
        input{
            width: 300px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        textarea{
            width: 300px;
            height: 50px;
            font-size: 18px;
        }
        ul{
            margin: 0 auto;
            width: 400px;
            list-style-type:none;
        }
        li{
            margin-bottom: 5px;
            text-align: left;
        }
        hr{
            width: 100%;
        }

    </style>
</head>
<body>
    <header>
        <h1>Message Board</h1>
    </header>
    <input type="text" id="push_name" placeholder="名字"></br>
    <textarea type="text" id="push_msg" placeholder="訊息"/></textarea></br>
    <button id="push_test">Send</button></br></br>
    
    <ul id='messagesli'>
        <li></li>
    </ul>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>